.sideBarMainContainer {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btnside {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebtn:hover {
  background-color: #c5eecf;
  font-size: large;
}

.sidebar,
.burger {
  position: fixed;
  top: 0;
}

.sidebar {
  height: 100%;
  background: #ffffff;
  transition: 0.4s;
}

.burger {
  z-index: 1;
  left: 72px;
  display: grid;
  place-items: center;
  width: 72px;
  height: 64px;
  /* background: url(/src/Assets/hamburger.jpg) no-repeat center; */
}

body.open .burger {
  left: auto;
  right: 0;
  /* background: url(./assets/icon-close.svg) no-repeat center; */
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

.sidebar > nav {
  display: grid;
}

.btnside {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.btnside > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sidebar > nav > .btnside > span {
  border-radius: 4px;
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  transition: 0.4s;
}

.sidebar > nav > .btnside > .brand {
  font-size: 1.2rem;
  font-weight: bold;
  
}

a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}