.topGainersMainContainer {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 22rem;
    height: 18rem;
}

.topGainersInnerContainer{
    display: flex;
    align-items: center;
    margin: .5rem 0 0 0;
}

.topGainersPriceAndPercentContainer{
    position: absolute;
    right: 2rem;
    
}

.topGainersUpDownarrowImage{
    position: absolute;
    right: 4rem;
    width: 1.5rem;
}

.topGainersTextAndSymbolContainer{
    margin: .6rem 0 0 0;
}

.topGainersText{
    font-size: 20px;
    color: rgb(68, 64, 64);
}

.topGainersicons {
    width: 3rem;
    height: 3rem;
    margin: 1rem .5rem 0 .2rem;
}

.topGainersGreyColor{
    color: grey;
}

